*.html
*.o
*.so
*.pyc
*.log
*.egg
*.egg-info
*.png
*.pdf
*.tiff
*~

.git/
.svn/
.spyderproject

demos/
!demos/demo_faraday.py
!demos/demo_faraday_map.npy
!demos/demo_excaliwir.py

#demos/demo_imaging*.py
#demos/demo_wiener.py
#demos/test.txt