*.html
*.o
*.so
*.pyc
*.log
*.egg
*.egg-info
*~

.git/
.svn/
.spyderproject
build

demos/*
!demos/__init__.py
!demos/demos_core.py
!demos/demo_faraday.py
!demos/demo_faraday_map.npy
!demos/demo_excaliwir.py
!demos/demo_wf1.py
!demos/demo_wf2.py
!demos/demo_wf3.py